.myTitle {
  font-weight: lighter;
  font-size: xxx-large;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100vh;
}

.input, .select {
  box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.6);
}

.button.is-dark.is-outlined {
  color: white;
}

.fa-wallet {
  margin-right: 20px;
}